<mat-sidenav-container color="primary" class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="(isHandset$ | async) ? '' : 'hide'"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list color="primary">
      <a mat-list-item class="selected" selected> Home </a>
      <a mat-list-item selected> About Us </a>
      <a mat-list-item selected> Services </a>
      <a mat-list-item selected> Gallery </a>
      <a mat-list-item selected> Pricing </a>
      <a mat-list-item selected> Contact Us </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>RealEstate</span>
      <span class="spacer"></span>
      <span [ngClass]="!(isHandset$ | async) ? '' : 'hide'">
        <button mat-button class="selected" color="accent" selected>
          Home
        </button>
        <button mat-button color="accent" selected>About Us</button>
        <button mat-button color="accent" selected>Services</button>
        <button mat-button color="accent" selected>Gallery</button>
        <button mat-button color="accent" selected>Pricing</button>
        <button mat-button color="accent" selected>Contact Us</button>
      </span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
