.spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: var(--primary);
  z-index: 100;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.head-toolbar {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  color: var(--accent);
}

.head-toolbar-background {
  background-color: transparent !important;
}

.head-toolbar img {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.selected {
  color: var(--primary) !important;
  background-color: var(--accent) !important;
}
button:hover {
  color: var(--primary);
  background-color: var(--accent);
}

.mat-list-item,
.mat-list-item-content,
.mat-list-text {
  color: var(--accent);
  text-align: center;
}

.mat-list-item:hover,
.mat-list-item-content:hover {
  color: var(--primary);
  background-color: var(--accent);
}

.hide {
  display: none;
}
