<mat-sidenav-container color="primary" class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="(isHandset$ | async) ? '' : 'hide'"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list color="primary">
      <a mat-list-item routerLinkActive="selected" routerLink="/home"> Home </a>
      <a mat-list-item routerLinkActive="selected" routerLink="/aboutus">
        About Us
      </a>
      <a mat-list-item routerLinkActive="selected" routerLink="/services">
        Services
      </a>
      <a mat-list-item routerLinkActive="selected" routerLink="/gallery">
        Gallery
      </a>
      <a mat-list-item routerLinkActive="selected" routerLink="/pricing">
        Pricing
      </a>
      <a mat-list-item routerLinkActive="selected" routerLink="/contactus">
        Contact Us
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar
      color="primary"
      [ngClass]="headercolor ? 'head-toolbar-background' : ''"
      class="head-toolbar"
    >
      <button
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span *ngIf="isHandset$ | async" class="spacer"></span>
      <span><img src="../../assets/Logo.png" routerLink="/home" /></span>
      <span *ngIf="!(isHandset$ | async)" class="spacer"></span>
      <span [ngClass]="!(isHandset$ | async) ? '' : 'hide'">
        <button
          mat-button
          routerLinkActive="selected"
          color="accent"
          routerLink="/home"
        >
          Home
        </button>
        <button
          mat-button
          routerLinkActive="selected"
          color="accent"
          routerLink="/aboutus"
        >
          About Us
        </button>
        <button
          mat-button
          routerLinkActive="selected"
          color="accent"
          routerLink="/services"
        >
          Services
        </button>
        <button
          mat-button
          color="accent"
          routerLinkActive="selected"
          routerLink="/gallery"
        >
          Gallery
        </button>
        <button
          mat-button
          routerLinkActive="selected"
          color="accent"
          routerLink="/pricing"
        >
          Pricing
        </button>
        <button
          mat-button
          routerLinkActive="selected"
          color="accent"
          routerLink="/contactus"
        >
          Contact Us
        </button>
      </span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
