<div class="sec1">
  <img [hidden]="true" src="../../assets/subheader-6.jpg">
  <div class="spacer-single"></div>
  <div class="spacer-single"></div>
  <div class="spacer-single"></div>
  <div class="spacer-single"></div>
  <div class="container">
    <div class="row">
      <div id="sidebar" class="col-md-6">
        <div class="widget_text">
          <h3>Contact Info</h3>
          <br />
          <address>
            <span
              ><strong>Interazzo (Kalyan Nagar)</strong><br />917, 2nd Floor,
              Above Sri Krishna Bhawan, Service Rd, Outer Ring Road, Near
              Babusabpalya Bus Stop, Kalyan Nagar, Bengaluru, Karnataka
              560043</span
            >
            <br />
            <br />
            <span
              ><strong>Phone : </strong> +91 9243-122221 &amp; +91 6366-122221
            </span>
            <br />
            <br />
            <span><strong>Toll Free : </strong>1800-123-122221 </span>
            <br />
            <br />
            <span
              ><strong>Email : </strong
              ><a href="mailto:cs@interazzo.com">cs@interazzo.com</a> &amp;
              <a href="mailto:priyanka@interazzo.com"
                >priyanka@interazzo.com</a
              ></span
            >
            <br />
            <br />
            <span
              ><strong>Web : </strong
              ><a href="http://interazzo.com">http://interazzo.com</a></span
            >
            <br />
            <br />
            <span><strong>Open : </strong>Monday - Saturday 10:00 - 19:00</span>
          </address>
        </div>
      </div>
    </div>
  </div>
</div>
