.sec1 {
  min-height: 100vh;
  width: 100%;
  background: url("../../assets/subheader-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: white;
}

.spacer-single {
  width: 100%;
  height: 30px;
  display: block;
  clear: both;
}

.separator {
  line-height: 0.5;
  text-align: center;
  margin: 30px 0 30px 0;
}

h2,
h3 {
  color: var(--accent);
}

img {
  min-height: 100% !important;
}
