<div class="sec1">
  <div class="spacer-single"></div>
  <div class="spacer-single"></div>
  <div class="spacer-single"></div>
  <div class="spacer-single"></div>
  <div class="spacer-single"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-md-12">
        <mat-tab-group
          color="accent"
          mat-align-tabs="center"
          animationDuration="1000ms"
        >
          <mat-tab>
            <ng-template mat-tab-label>MODULAR KITCHENS</ng-template>
            <div class="tab">
              <div class="spacer-single"></div>
              <div class="spacer-single"></div>
              <div class="spacer-single"></div>
              <h4>MODULAR KITCHENS</h4>
              <div class="spacer-single"></div>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-4">
                    <img
                      class="img-fluid"
                      src="../../assets/kitchen2.jpg"
                      alt=""
                    />
                    <div class="spacer-single"></div>
                  </div>
                  <div class="col-sm-8 content">
                    <p>
                      A simply a term used for the modern-day kitchen furniture
                      layout which is especially designed to optimize
                      functionality and the use of space. These kitchens use
                      various modules (units) of cabinets that are crafted out
                      of diverse materials and hold kitchen accessories inside.
                    </p>
                  </div>
                </div>
              </div>
              <div class="spacer-single"></div>
            </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>MODERN WARDROBES</ng-template>
            <div class="tab">
              <div class="spacer-single"></div>
              <div class="spacer-single"></div>
              <div class="spacer-single"></div>
              <h4>MODERN WARDROBES</h4>
              <div class="spacer-single"></div>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-4">
                    <img
                      class="img-fluid"
                      src="../../assets/wardrobe1.jpg"
                      alt=""
                    />
                  </div>
                  <div class="col-sm-8 content">
                    <p>
                      Bedroom wardrobes are a must-have for every home. From
                      clothes and accessories to home linen , files, and
                      jewellery, wardrobes house our essentials. So, get a
                      wardrobe that best suits your space and storage
                      needs.Explore our wardrobe configurations at Quick
                      Wardrobes or book a Design Consultation at your Home.
                    </p>
                  </div>
                </div>
              </div>
              <div class="spacer-single"></div>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>ENTERTAINMENT UNIT</ng-template>
            <div class="tab">
              <div class="spacer-single"></div>
              <div class="spacer-single"></div>
              <div class="spacer-single"></div>
              <h4>ENTERTAINMENT UNIT</h4>
              <div class="spacer-single"></div>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-4">
                    <img
                      class="img-fluid"
                      src="../../assets/unit2.jpg"
                      alt=""
                    />
                  </div>
                  <div class="col-sm-8 content">
                    <p>
                      An entertainment unit ties up all those loose ends in your
                      living room, and if you prefer chilling out in the bedroom
                      you’ll find it very convenient. Entertainment units
                      provide storage space, keep control over your speakers,
                      CDs and more, while at the same time bringing style and
                      class to your interiors.
                    </p>
                  </div>
                </div>
              </div>
              <div class="spacer-single"></div>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>FALSE CEILING</ng-template>
            <div class="tab">
              <div class="spacer-single"></div>
              <div class="spacer-single"></div>
              <div class="spacer-single"></div>
              <h4>FALSE CEILING</h4>
              <div class="spacer-single"></div>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-4">
                    <img
                      class="img-fluid"
                      src="../../assets/ceiling2.jpg"
                      alt=""
                    />
                  </div>
                  <div class="col-sm-8 content">
                    <p>
                      Ceilings offer the largest unobstructed view of a room and
                      are the first thing people notice when they enter a house.
                      As a result, the ceiling is an important element of room
                      design and defines its aesthetics. Since a ceiling has a
                      large surface area, it plays an important role in the
                      acoustic and thermal comfort of a room.
                    </p>
                  </div>
                </div>
              </div>
              <div class="spacer-single"></div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
