<div
  id="carouselExampleCaptions"
  class="carousel slide"
  data-bs-ride="carousel"
  data-bs-pause="false"
>
  <div class="carousel-inner">
    <div class="carousel-item drk active" data-bs-interval="5000">
      <img
        id="images"
        [src]="slides[0].image"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-md-block">
        <h6>STANDARDIZED BRANDED INTERIORS</h6>
        <br />
        <h1>YOURS IN 45-120 DAYS</h1>
        <br />
        <button mat-raised-button color="accent">Contact Us</button>
      </div>
    </div>
    <div
      class="carousel-item drk"
      data-bs-interval="5000"
      *ngFor="let slide of num; let i = index"
    >
      <img
        id="images"
        [src]="slides[i + 1].image"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-md-block">
        <h6>STANDARDIZED BRANDED INTERIORS</h6>
        <br />
        <h1>YOURS IN 45-120 DAYS</h1>
        <br />
        <button mat-raised-button color="accent">Contact Us</button>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
