<mat-carousel
  timings="250ms ease-in"
  [autoplay]="true"
  interval="5000"
  color="white"
  maxWidth="auto"
  proportion="44"
  slides="6"
  [loop]="true"
  [hideArrows]="false"
  [hideIndicators]="true"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  orientation="ltr"
  style="color: white;"
>
  <mat-carousel-slide
    #matCarouselSlide
    *ngFor="let slide of slides; let i = index"
    [image]="slide.image"
    overlayColor="#00000040"
    [hideOverlay]="false"
  >
  <div id="wrap">
    <div id="content">
    <h6>STANDARDIZED BRANDED INTERIORS</h6>
    <br />
    <h1>YOURS IN 45-120 DAYS</h1>
    <br />
    <button mat-raised-button color="accent">Contact Us</button>
    </div>
  </div>
</mat-carousel-slide>
</mat-carousel>