<div class="wraper">
  <div class="spacer-single"></div>
  <div class="container">
    <div class="row">
      <div
        class="col-md-6 offset-md-3 text-center"
        (appear)="hide($event)"
        [@slideUp]="hideval"
      >
        <h1>What We Do</h1>
        <div class="separator">
          <span
            ><mat-icon aria-label="Circle" color="accent"
              >circle</mat-icon
            ></span
          >
        </div>
        <p>
          Pellentesque habitant morbi tristique senectus et netus et malesuada
          fames ac turpis egestas.
        </p>
        <div class="spacer-single"></div>
      </div>
      <div class="col-md-4" (appear)="hide2($event)" [@slideLeft]="hideval2">
        <h3><span>Standardized</span></h3>
        <p>
          Pellentesque habitant morbi tristique senectus et netus et malesuada
          fames ac turpis egestas.
        </p>
        <div class="spacer-single"></div>
        <img src="../../../assets/2.png" class="img-fluid" alt="" />
      </div>
      <div class="col-md-4" (appear)="hide3($event)" [@slideDown]="hideval3">
        <h3><span>Standardized</span></h3>
        <p>
          Pellentesque habitant morbi tristique senectus et netus et malesuada
          fames ac turpis egestas.
        </p>
        <div class="spacer-single"></div>
        <img src="../../../assets/3.png" class="img-fluid" alt="" />
      </div>
      <div class="col-md-4" (appear)="hide4($event)" [@slideRight]="hideval4">
        <h3><span>Standardized</span></h3>
        <p>
          Pellentesque habitant morbi tristique senectus et netus et malesuada
          fames ac turpis egestas.
        </p>
        <div class="spacer-single"></div>
        <img src="../../../assets/1.png" class="img-fluid" alt="" />
      </div>
    </div>
    <div class="spacer-single"></div>
  </div>
</div>
