<div class="wraper">
  <div class="spacer-single"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <h1>What We Do</h1>
        <div class="separator">
          <span
            ><mat-icon aria-label="Circle" color="accent"
              >circle</mat-icon
            ></span
          >
        </div>
        <p>
          Classic, Contemporary, Elegant, Modern, Standardized Branded Budget
          Interiors
        </p>
        <div class="spacer-single"></div>
      </div>
      <div class="col-md-4">
        <h3><span>Standardized</span></h3>
        <p>
          Interazzo promises to provide the Standardized Branded Quality
          Interiors to provide awesome experience at an unmatched price.
        </p>
        <div class="spacer-single"></div>
        <img src="../../../assets/2.png" class="img-fluid" alt="" />
      </div>
      <div class="col-md-4">
        <h3><span>Standardized</span></h3>
        <p>
          Interazzo promises to provide the Standardized Branded Quality
          Interiors to provide awesome experience at an unmatched price.
        </p>
        <div class="spacer-single"></div>
        <img src="../../../assets/3.png" class="img-fluid" alt="" />
      </div>
      <div class="col-md-4">
        <h3><span>Standardized</span></h3>
        <p>
          Interazzo promises to provide the Standardized Branded Quality
          Interiors to provide awesome experience at an unmatched price.
        </p>
        <div class="spacer-single"></div>
        <img src="../../../assets/1.png" class="img-fluid" alt="" />
      </div>
    </div>
    <div class="spacer-single"></div>
  </div>
</div>
