<section id="pricing-table">
  <div class="container">
    <div class="spacer-single"></div>
    <div class="spacer-single"></div>
    <div class="spacer-single"></div>
    <div class="spacer-single"></div>
    <h1 id="main-title">Basic Pricing</h1>
    <div class="spacer-single"></div>
    <div class="spacer-single"></div>
    <div class="spacer-single"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="item pricing">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <div class="pricing-s1 mb30">
                  <mat-card class="price-card">
                    <mat-card-header>
                      <div class="top">
                        <mat-card-title><h2>1 BHK</h2></mat-card-title>
                        <mat-card-subtitle>
                          <!-- <p class="price"> -->
                          <span class="currency">INR</span> <b> 3.49L</b>
                          <span class="month">*condition apply</span>
                          <!-- </p> -->
                        </mat-card-subtitle>
                      </div>
                    </mat-card-header>
                    <!-- <mat-card-content> -->
                    <div class="bottom">
                      <li>
                        <i class="icon_check"></i>1 Kitchen with Hettich Atira
                        Drawers
                      </li>

                      <li>
                        <i class="icon_check"></i>1 Entertainment Base Unit
                        (Without wall panel)
                      </li>
                      <li>
                        <i class="icon_check"></i>5 Hettich Atira Drawers +
                        Hettich BPO
                      </li>
                      <li><i class="icon_check"></i>Hettich/Hafele Hardware</li>
                      <li>
                        <i class="icon_check"></i>1 mm Green/Century/Merino
                        Outer Laminates
                      </li>
                      <li>
                        <i class="icon_check"></i>0.8 mm Archidlam Color Inner
                        Laminate
                      </li>
                      <li>
                        <i class="icon_check"></i>100% Transparency &amp; 45
                        days delivery
                      </li>
                      <li>
                        <i class="icon_check"></i>100% Greenply(MR IS:303 + BWP
                        IS:710 Grade)
                      </li>
                      <li>
                        <i class="icon_check"></i>7 Years Warranty for BWP Ply
                        from Greenply
                      </li>
                      <li>
                        <i class="icon_check"></i>3 Years Warranty for MR Ply
                        from Greenply
                      </li>
                      <li>
                        <i class="icon_check"></i>3 Years Interazzo Warranty^
                      </li>
                      <li>
                        <i class="icon_check"></i>Lifetime Hardware Warranty^
                      </li>
                      <!-- </ul> -->
                      <!-- <a href="contact.php" class="btn btn-custom">Order Now</a> -->
                    </div>
                    <!--  -->
                  </mat-card>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="pricing-s1 mb30">
                  <mat-card class="price-card">
                    <mat-card-header>
                      <div class="ribbon">Best Seller</div>
                      <div class="top">
                        <mat-card-title id="bp-line"
                          ><h2>2 BHK</h2></mat-card-title
                        >
                        <mat-card-subtitle id="bp-line1">
                          <p class="price">
                            <span class="currency">INR</span> <b> 4.75L</b>
                            <span class="month">*condition apply</span>
                          </p>
                        </mat-card-subtitle>
                      </div>
                    </mat-card-header>
                    <div class="bottom">
                      <li>
                        <i class="icon_check"></i>1 Kitchen with Hettich Atira
                        Drawers
                      </li>

                      <li>
                        <i class="icon_check"></i>1 Entertainment Base Unit
                        (Without wall panel)
                      </li>
                      <li>
                        <i class="icon_check"></i>7 Hettich Atira Drawers +
                        Hettich BPO
                      </li>
                      <li><i class="icon_check"></i>Hettich/Hafele Hardware</li>
                      <li>
                        <i class="icon_check"></i>1 mm Green/Century/Merino
                        Outer Laminates
                      </li>
                      <li>
                        <i class="icon_check"></i>0.8 mm Archidlam Color Inner
                        Laminate
                      </li>
                      <li>
                        <i class="icon_check"></i>100% Transparency &amp; 45
                        days delivery
                      </li>
                      <li>
                        <i class="icon_check"></i>100% Greenply(MR IS:303 + BWP
                        IS:710 Grade)
                      </li>
                      <li>
                        <i class="icon_check"></i>7 Years Warranty for BWP Ply
                        from Greenply
                      </li>
                      <li>
                        <i class="icon_check"></i>3 Years Warranty for MR Ply
                        from Greenply
                      </li>
                      <li>
                        <i class="icon_check"></i>3 Years Interazzo Warranty^
                      </li>
                      <li>
                        <i class="icon_check"></i>Lifetime Hardware Warranty^
                      </li>
                      <!-- <a href="contact.php" class="btn btn-custom">Order Now</a> -->
                    </div>
                  </mat-card>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="pricing-s1 mb30">
                  <mat-card class="price-card">
                    <mat-card-header>
                      <div class="top">
                        <mat-card-title><h2>3 BHK</h2></mat-card-title>
                        <mat-card-subtitle>
                          <p class="price">
                            <span class="currency">INR</span> <b> 5.99L</b>
                            <span class="month">*condition apply</span>
                          </p>
                        </mat-card-subtitle>
                      </div>
                    </mat-card-header>
                    <div class="bottom">
                      <li>
                        <i class="icon_check"></i>1 Kitchen with Hettich Atira
                        Drawers
                      </li>

                      <li>
                        <i class="icon_check"></i>1 Entertainment Base Unit
                        (Without wall panel)
                      </li>
                      <li>
                        <i class="icon_check"></i>7 Hettich Atira Drawers +
                        Hettich BPO
                      </li>
                      <li><i class="icon_check"></i>Hettich/Hafele Hardware</li>
                      <li>
                        <i class="icon_check"></i>1 mm Green/Century/Merino
                        Outer Laminates
                      </li>
                      <li>
                        <i class="icon_check"></i>0.8 mm Archidlam Color Inner
                        Laminate
                      </li>
                      <li>
                        <i class="icon_check"></i>100% Transparency &amp; 45
                        days delivery
                      </li>
                      <li>
                        <i class="icon_check"></i>100% Greenply(MR IS:303 + BWP
                        IS:710 Grade)
                      </li>
                      <li>
                        <i class="icon_check"></i>7 Years Warranty for BWP Ply
                        from Greenply
                      </li>
                      <li>
                        <i class="icon_check"></i>3 Years Warranty for MR Ply
                        from Greenply
                      </li>
                      <li>
                        <i class="icon_check"></i>3 Years Interazzo Warranty^
                      </li>
                      <li>
                        <i class="icon_check"></i>Lifetime Hardware Warranty^
                      </li>
                      <!-- <a href="contact.php" class="btn btn-custom">Order Now</a> -->
                    </div>
                  </mat-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer-single"></div>
  <div class="spacer-single"></div>
</section>
