<section id="pricing-table">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="item pricing">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <div class="pricing-s1 mb30">
                  <div class="top">
                    <h2>1 BHK</h2>
                    <p class="price">
                      <span class="currency">INR</span> <b>3.49L</b>
                      <span class="month">*condition apply</span>
                    </p>
                  </div>
                  <div class="bottom">
                    <ul>
                      <li>
                        <i class="icon_check"></i>1 Kitchen with Hettich Atira
                        Drawers
                      </li>
                      <li>
                        <i class="icon_check"></i>1 Hafele Sliding Wardrobe
                      </li>
                      <li>
                        <i class="icon_check"></i>1 Entertainment Base Unit
                        (Without wall panel)
                      </li>
                      <li>
                        <i class="icon_check"></i>5 Hettich Atira Drawers +
                        Hettich BPO
                      </li>
                      <li><i class="icon_check"></i>Hettich/Hafele Hardware</li>
                      <li>
                        <i class="icon_check"></i>1 mm Green/Century/Merino
                        Outer Laminates
                      </li>
                      <li>
                        <i class="icon_check"></i>0.8 mm Archidlam Color Inner
                        Laminate
                      </li>
                      <li>
                        <i class="icon_check"></i>100% Transparency &amp; 45
                        days delivery
                      </li>
                      <li>
                        <i class="icon_check"></i>100% Greenply(MR IS:303 + BWP
                        IS:710 Grade)
                      </li>
                      <li>
                        <i class="icon_check"></i>7 Years Warranty for BWP Ply
                        from Greenply
                      </li>
                      <li>
                        <i class="icon_check"></i>3 Years Warranty for MR Ply
                        from Greenply
                      </li>
                      <li>
                        <i class="icon_check"></i>3 Years Interazzo Warranty^
                      </li>
                      <li>
                        <i class="icon_check"></i>Lifetime Hardware Warranty^
                      </li>
                    </ul>
                    <a href="contact.php" class="btn btn-custom">Order Now</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="pricing-s1 mb30">
                  <div class="ribbon">Best Seller</div>
                  <div class="top">
                    <h2>2 BHK</h2>
                    <p class="price">
                      <span class="currency">INR</span> <b>4.75L</b>
                      <span class="month">*condition apply</span>
                    </p>
                  </div>
                  <div class="bottom">
                    <ul>
                      <li>
                        <i class="icon_check"></i>1 Kitchen with Hettich Atira
                        Drawers
                      </li>
                      <li>
                        <i class="icon_check"></i>1 Hafele Sliding Wardrobe + 1
                        Hinged Wardrobe with loft
                      </li>
                      <li>
                        <i class="icon_check"></i>1 Entertainment Base Unit
                        (Without wall panel)
                      </li>
                      <li>
                        <i class="icon_check"></i>7 Hettich Atira Drawers +
                        Hettich BPO
                      </li>
                      <li><i class="icon_check"></i>Hettich/Hafele Hardware</li>
                      <li>
                        <i class="icon_check"></i>1 mm Green/Century/Merino
                        Outer Laminates
                      </li>
                      <li>
                        <i class="icon_check"></i>0.8 mm Archidlam Color Inner
                        Laminate
                      </li>
                      <li>
                        <i class="icon_check"></i>100% Transparency &amp; 45
                        days delivery
                      </li>
                      <li>
                        <i class="icon_check"></i>100% Greenply(MR IS:303 + BWP
                        IS:710 Grade)
                      </li>
                      <li>
                        <i class="icon_check"></i>7 Years Warranty for BWP Ply
                        from Greenply
                      </li>
                      <li>
                        <i class="icon_check"></i>3 Years Warranty for MR Ply
                        from Greenply
                      </li>
                      <li>
                        <i class="icon_check"></i>3 Years Interazzo Warranty^
                      </li>
                      <li>
                        <i class="icon_check"></i>Lifetime Hardware Warranty^
                      </li>
                    </ul>
                    <a href="contact.php" class="btn btn-custom">Order Now</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="pricing-s1 mb30">
                  <div class="top">
                    <h2>3 BHK</h2>
                    <p class="price">
                      <span class="currency">INR</span> <b>5.99L</b>
                      <span class="month">*condition apply</span>
                    </p>
                  </div>
                  <div class="bottom">
                    <ul>
                      <li>
                        <i class="icon_check"></i>1 Kitchen with Hettich Atira
                        Drawers
                      </li>
                      <li>
                        <i class="icon_check"></i>1 Hafele Sliding Wardrobe + 2
                        Hinged Wardrobe with loft
                      </li>
                      <li>
                        <i class="icon_check"></i>1 Entertainment Base Unit
                        (Without wall panel)
                      </li>
                      <li>
                        <i class="icon_check"></i>7 Hettich Atira Drawers +
                        Hettich BPO
                      </li>
                      <li><i class="icon_check"></i>Hettich/Hafele Hardware</li>
                      <li>
                        <i class="icon_check"></i>1 mm Green/Century/Merino
                        Outer Laminates
                      </li>
                      <li>
                        <i class="icon_check"></i>0.8 mm Archidlam Color Inner
                        Laminate
                      </li>
                      <li>
                        <i class="icon_check"></i>100% Transparency &amp; 45
                        days delivery
                      </li>
                      <li>
                        <i class="icon_check"></i>100% Greenply(MR IS:303 + BWP
                        IS:710 Grade)
                      </li>
                      <li>
                        <i class="icon_check"></i>7 Years Warranty for BWP Ply
                        from Greenply
                      </li>
                      <li>
                        <i class="icon_check"></i>3 Years Warranty for MR Ply
                        from Greenply
                      </li>
                      <li>
                        <i class="icon_check"></i>3 Years Interazzo Warranty^
                      </li>
                      <li>
                        <i class="icon_check"></i>Lifetime Hardware Warranty^
                      </li>
                    </ul>
                    <a href="contact.php" class="btn btn-custom">Order Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row" style="margin-left: 15px">
      <div class="col-md-12 ml30" style="background: #fab702; color: #000">
        <p></p>
        <ul>
          <li>
            *Price mentioned above are inclusive of taxes &amp; may vary
            accordingly with the changes made to the standard products.
          </li>
          <li>
            ^3 years warranty from interazzo doesn’t include normal wear &amp;
            tear and any physical damages. Lifetime Warranty is conditional
            &amp; provided by Hardware Brand.
          </li>
          <li>
            We strictly follow x Days delivery post design sign-off for every
            project considering that there shouldn’t be any hindrance in work
            due to builder, owner, payment.
          </li>
          <li>
            Please reach out to us for break-up of these packages. We will offer
            you break-up along with the sizes of each unit.
          </li>
        </ul>
        <h3 align="center" style="color: #000">
          <b>We Offer Custom Plans. Contact Us For More Info.</b>
        </h3>
      </div>
    </div>
  </div>
</section>
