<div class="wraper">
  <img [hidden]="true" src="../../../assets/bg-2.jpg" />
  <div class="spacer-single"></div>
  <div class="container">
    <div class="row">
      <div
        class="col-md-6 offset-md-3 text-center wow fadeInUp animated"
        style="visibility: visible; animation-name: fadeInUp"
      >
        <h1>Our Process</h1>
        <div class="separator">
          <span
            ><mat-icon aria-label="Circle" color="accent"
              >circle</mat-icon
            ></span
          >
        </div>
      </div>
      <!-- <div class="col-6 col-sm-6 col-md-6 col-lg-12">
        <div class="row">
          <div class="col-lg-3 tab-container text-center tab-selected">
            <p class="tab">CONNECT & GET QUOTE</p>
            <div class="line"></div>
          </div>
          <div class="col-lg-3 tab-container text-center">
            <p class="tab">CONNECT & GET QUOTE</p>
          </div>
          <div class="col-lg-3 tab-container text-center">
            <p class="tab">CONNECT & GET QUOTE</p>
          </div>
          <div class="col-lg-3 tab-container text-center">
            <p class="tab">CONNECT & GET QUOTE</p>
          </div>
        </div>
      </div> -->
      <div class="col-md-12">
        <mat-tab-group
          color="accent"
          class="our-parent-group"
          mat-align-tabs="center"
          animationDuration="1000ms"
        >
          <mat-tab>
            <ng-template mat-tab-label>
              <button mat-mini-fab color="accent">1</button>
            </ng-template>
            <div class="tab">
              <div class="spacer-single"></div>
              <h4>CONNECT & GET QUOTE</h4>
              <div class="spacer-single"></div>
              <p>
                Pellentesque habitant morbi tristique senectus et netus et
                malesuada fames ac turpis egestas. Vestibulum tortor quam,
                feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu
                libero sit amet quam egestas semper. Aenean ultricies mi vitae
                est. Mauris placerat eleifend leo.
              </p>
              <div class="spacer-single"></div>
            </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <button mat-mini-fab color="accent">2</button>
            </ng-template>
            <div class="tab">
              <div class="spacer-single"></div>
              <h4>CONNECT & GET QUOTE</h4>
              <div class="spacer-single"></div>
              <p>
                Pellentesque habitant morbi tristique senectus et netus et
                malesuada fames ac turpis egestas. Vestibulum tortor quam,
                feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu
                libero sit amet quam egestas semper. Aenean ultricies mi vitae
                est. Mauris placerat eleifend leo.
              </p>
              <div class="spacer-single"></div>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <button mat-mini-fab color="accent">3</button>
            </ng-template>
            <div class="tab">
              <div class="spacer-single"></div>
              <h4>CONNECT & GET QUOTE</h4>
              <div class="spacer-single"></div>
              <p>
                Pellentesque habitant morbi tristique senectus et netus et
                malesuada fames ac turpis egestas. Vestibulum tortor quam,
                feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu
                libero sit amet quam egestas semper. Aenean ultricies mi vitae
                est. Mauris placerat eleifend leo.
              </p>
              <div class="spacer-single"></div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="spacer-single"></div>
    </div>
  </div>
</div>
