<div class="wraper">
  <div class="spacer-single"></div>
  <div class="container">
    <div class="row">
      <div
        class="col-md-6 offset-md-3 text-center wow fadeInUp animated"
        style="visibility: visible; animation-name: fadeInUp"
      >
        <h1>Our Process</h1>
        <div class="separator">
          <span
            ><mat-icon aria-label="Circle" color="accent"
              >circle</mat-icon
            ></span
          >
        </div>
      </div>
      <!-- <div class="col-6 col-sm-6 col-md-6 col-lg-12">
        <div class="row">
          <div class="col-lg-3 tab-container text-center tab-selected">
            <p class="tab">CONNECT & GET QUOTE</p>
            <div class="line"></div>
          </div>
          <div class="col-lg-3 tab-container text-center">
            <p class="tab">CONNECT & GET QUOTE</p>
          </div>
          <div class="col-lg-3 tab-container text-center">
            <p class="tab">CONNECT & GET QUOTE</p>
          </div>
          <div class="col-lg-3 tab-container text-center">
            <p class="tab">CONNECT & GET QUOTE</p>
          </div>
        </div>
      </div> -->
      <div class="col-md-12">
        <mat-tab-group
          color="accent"
          mat-align-tabs="center"
          animationDuration="1000ms"
        >
          <mat-tab>
            <ng-template mat-tab-label>
              <button mat-mini-fab color="accent">1</button>
            </ng-template>
            <div class="tab">
              <div class="spacer-single"></div>
              <h4>CONNECT & GET QUOTE</h4>
              <div class="spacer-single"></div>
              <p>
                You can reach out to us by calling our helpline number or by
                filling your details at "Contact Us" page. Shortly, thereafter,
                we’ll reach out to you to discuss further upon your
                requirements. We would expect your floor plan along with your
                detailed requirements to help you with precise quotation. Once
                you receive your quote, if it matches your requirements &
                expectations, you can schedule an appointment to visit our
                experience center.
              </p>
              <div class="spacer-single"></div>
            </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <button mat-mini-fab color="accent">2</button>
            </ng-template>
            <div class="tab">
              <div class="spacer-single"></div>
              <h4>CONNECT & GET QUOTE</h4>
              <div class="spacer-single"></div>
              <p>
                You can reach out to us by calling our helpline number or by
                filling your details at "Contact Us" page. Shortly, thereafter,
                we’ll reach out to you to discuss further upon your
                requirements. We would expect your floor plan along with your
                detailed requirements to help you with precise quotation. Once
                you receive your quote, if it matches your requirements &
                expectations, you can schedule an appointment to visit our
                experience center.
              </p>
              <div class="spacer-single"></div>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <button mat-mini-fab color="accent">3</button>
            </ng-template>
            <div class="tab">
              <div class="spacer-single"></div>
              <h4>CONNECT & GET QUOTE</h4>
              <div class="spacer-single"></div>
              <p>
                You can reach out to us by calling our helpline number or by
                filling your details at "Contact Us" page. Shortly, thereafter,
                we’ll reach out to you to discuss further upon your
                requirements. We would expect your floor plan along with your
                detailed requirements to help you with precise quotation. Once
                you receive your quote, if it matches your requirements &
                expectations, you can schedule an appointment to visit our
                experience center.
              </p>
              <div class="spacer-single"></div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="spacer-single"></div>
    </div>
  </div>
</div>
