<div class="wraper">
  <div class="spacer-single"></div>
  <div class="container">
    <div class="row">
      <div
        class="col-md-6 offset-md-3 text-center wow fadeInUp animated"
        style="visibility: visible; animation-name: fadeInUp"
      >
        <h1>Our Process</h1>
        <div class="separator">
          <span
            ><mat-icon aria-label="Circle" color="accent"
              >circle</mat-icon
            ></span
          >
        </div>
        <div class="spacer-single"></div>
      </div>
      <div class="col-md-12"></div>
    </div>
  </div>
</div>
