// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// $mat-custom: (
//   1000: #19284d,
//   1001: #fca311,
//   contrast: (
//     1000: #fca311,
//     1001: #19284d,
//   ),
// );

$mat-custom: (
  1000: var(--primary),
  1001: var(--accent),
  contrast: (
    1000: var(--accent),
    1001: var(--primary),
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$RealEstate-primary: mat-palette($mat-custom, 1000);
$RealEstate-accent: mat-palette($mat-custom, 1001);
// The warn palette is optional (defaults to red).
$RealEstate-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$RealEstate-theme: mat-light-theme(
  (
    color: (
      primary: $RealEstate-primary,
      accent: $RealEstate-accent,
      warn: $RealEstate-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($RealEstate-theme);
